.sellContainer {
    display: flex;
    gap: 20px;
    padding: 20px;
  }
  
  .searchHeader {
    padding-left: 30px;
  }
  
  /* Sidebar for filter options */
  .filterArea {
    width: 250px;
    flex-shrink: 0;
    background-color: aliceblue;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Main content area where properties are displayed */
  .mainArea {
    flex-grow: 1;
  }
  
  .filterGroup {
    margin-bottom: 20px;
  }
  
  .filterGroup label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  .filterGroup select,
  .filterGroup input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ff9500;
    width: 100%;
    box-sizing: border-box;
  }
  
  /* Searchbar styling */
  .searchHeader h5 {
    font-size: 20px;
    font-weight: bold;
    color: black;
  }
  
  .filterGroup input[type="checkbox"] {
    margin-right: 5px;
    transform: scale(1.0);
  }
  
  /* Cards container */
  .propertyGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .noResults {
    text-align: center;
    margin-top: 20px;
  }
  
  .noResults a {
    color: #ff9500;
    text-decoration: none;
  }
  
  .noResults a:hover {
    text-decoration: underline;
  }
  
  /* Responsive styles */
  @media (max-width: 1100px) {
    .sellContainer {
      flex-direction: column;
      margin-left: -20px;
    }
  
    .filterArea {
      width: 100%;
      margin-bottom: 20px;
    }
  
    .mainArea {
      width: 100%;
    }
  }
  
  @media (max-width: 768px) {
    .propertyGrid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 500px) {
    .propertyGrid {
      grid-template-columns: 1fr;
    }
  }
  