/* src/component/shared/Card.css */

.card {
  border-radius: 5px;
  overflow: hidden;
  max-width: 300px;
  margin: 16px;
  transition: box-shadow 0.3s ease;
  box-shadow: none; /* Remove any default shadow */
}

.card:hover {
  box-shadow: none; /* Remove shadow on hover */
}

.card-image {
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.card-content {
  padding: 0px;
}

.card-title {
  font-size: smaller;
  margin: 0 0 8px;
  font-weight: 500;
  color: rgb(220, 101, 41);
}

.card-name {
  font-size: smaller;
  margin: 4px 0;
  font-weight: bold;
  color: rgb(50, 50, 50);
}

.card-price {
  font-size: small;
  color: black;
  margin: 4px 0;
  font-weight: bold;
}

.card-description {
  font-size: small;
  color: black;
  margin: 4px 0;
  font-weight: bold;
}
